.about-section-container {
  margin-top: 12rem;
  margin-bottom: 10rem;
  padding-bottom: 8rem;
}

.about-section-container .hero h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.about-section-container .hero p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-section-container .about-us h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-section-container .about-us p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-section-container .values h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-section-container .values ul {
  font-size: 2rem;
  margin-bottom: 2rem;
} 

.about-section-container .team h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-section-container .team ul {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-section-container .partners h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-section-container .partners ul {
  font-size: 2rem;
  margin-bottom: 2rem;
}